<h1>About me</h1>

<hr>

<div class="row">
  <div class="col-md-4">

    <%= image_tag "hqdefault.jpg", width: 300, alt: "Profile" %>
  </div>
  <div class="col-md-8">
    <p>Lots of cool stuff about me because i'm cool Lots of cool stuff about me because i'm cool
      Lots of cool stuff about me because i'm cool
      Lots of cool stuff about me because i'm cool
      Lots of cool stuff about me because i'm cool
      Lots of cool stuff about me because i'm cool
      Lots of cool stuff about me because i'm cool</p>
  </div>
</div>



