<h1>Sample Contact Page for Alamo Tree</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Alamo Square</h3>
    <p>94117 San Francisco</p>
    <h3>Phone number</h3>
    <p><%= number_to_phone "6176176176" %></p>
    <h3>Email</h3>
    <p><a href="mailto:test@test.com?subject=PortfolioContact">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6307.048416046129!2d-122.43774150905818!3d37.777753048663286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808580a54519d8b9%3A0x5fbde9a56471fe48!2sAlamo+Square%2C+San+Francisco%2C+CA!5e0!3m2!1sen!2sus!4v1512251564738" width="400" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

